@use './fonts.scss' as *;

// Colors
$color-text: #1A1A1A;
$color-blue: #005B99;
$color-yellow: #F4A300;
$color-beige: #F3EDE4;
$color-white: #FFFFFF;

// Fonts
$font-family-headline: 'Titan One', sans-serif;
$font-family-text: 'Roboto', sans-serif;

// Font Weights
$font-weight-normal: 400;
$font-weight-bold: 800;
